@media (min-width: 320px) {
    .up {
        background-size: 100%;
        height: 150px;
        margin: 0 0 0 0;
    }

    .but {
        background-color: #2196F3;
        color: white;
        border-radius: 10px;
        font-size: 16px;
        width: 110px;
        height: 30px;
        border: none;
    }

    .lk {
        height: 70px;
        width: 70px;
        float: right;
        object-fit: cover;
        font-size: 16px;
        border: none;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }

    .dropdown {
        display: block;
    }

    .dropdown-content {
        display: none;
        background-color: #f1f1f1;
        min-width: 160px;
        z-index: 1;
        position: absolute;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .but a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .book {
        background-color: #2196F3;
        color: white;
        border-radius: 30px;
        width: 480px;
        height: 300px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .text_in {
        width: 388px;
        height: 100px;
        background-color: #f1f1f1;
        color: rgb(175, 25, 25);
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        text-align: center;
        line-height: 500%;
    }

    .second_text {
        width: 388px;
        height: 100px;
        background-color: #f1f1f1;
        color: black;
        margin: auto;
        margin-top: 20px;
        border-radius: 10px;
        text-align: left;
        padding-left: 20px;
        line-height: 50px;
    }

    .about {
        width: 161px;
        height: 40px;
        background-color: #E567F0;
        color: white;
        margin: 10px 50px 10px 10px;
        border-radius: 10px;
        text-align: center;
        float: right;
        line-height: 40px;
        border: none;
    }

    .about a {
        color: rgb(255, 255, 255);
    }

    body {
        background: whitesmoke;
        background-size: 100%;
        height: 100%;
        margin: 0 0 0 0;
    }

    #footer {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 95%;
        padding: 5px;
        background: #355dcc;
        color: rgb(255, 255, 255);
        width: 100%;
        margin-top: 0px;
    }

    .d1 {
        background: #DABB52;
    }

    .d1 input,
    .d1 button {
        border: none;
        outline: none;
        border-radius: 3px;
    }

    .d1 input {
        width: 300px;
        height: 42px;
        background: #F9F0DA;
        padding-left: 15px;
    }

    .d1 button {
        height: 26px;
        position: absolute;
        top: 8px;
        right: 8px;
        background: #F15B42;
        color: white;
        cursor: pointer;
    }

    .d1 button:before {
        font-family: FontAwesome;
        color: #F9F0DA;
        font-size: 20px;
        font-weight: bold;
    }
}